[buildout]
develop = .
parts = test coverage-test coverage-report coverage-diff

[test]
recipe = zc.recipe.testrunner
eggs = z3c.coverage [test]
defaults = ['--ndiff']

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.coverage [test]
defaults = ['--ndiff', '--coverage', '${buildout:directory}/parts/coverage-test']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport=coverage-report
arguments = ['${buildout:directory}/parts/coverage-test', '${buildout:directory}/parts/coverage-test/report'] + sys.argv[1:]

[coverage-diff]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragediff=coverage-diff
